<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <display-input></display-input>
        <display-input1></display-input1>
        <display-input2></display-input2>
    </div>

    <template id="first-value">
        <div>
            <input v-model="firstInput" placeholder="First Input">
            <p>First Output: {{ firstInput }}</p>
            <hr>
        </div>
    </template>

    <template id="second-value">
        <div>
            <input v-model="secondInput" placeholder="Second Input">
            <p>Second Output: {{ secondInput }}</p>
            <hr>
        </div>
    </template>

    <template id="third-value">
        <div>
            <input v-model="thirdInput" placeholder="Third Input">
            <p>Third Output: {{ thirdInput }}</p>
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.component('display-input', {
            template: '#first-value',
            data: function () {
                return {
                    firstInput: ''
                }
            },
        })

        Vue.component('display-input1', {
            template: '#second-value',
            data: function () {
                return {
                    secondInput: ''
                }
            },
        })

        Vue.component('display-input2', {
            template: '#third-value',
            data: function () {
                return {
                    thirdInput: ''
                }
            },
        })
        new Vue({
            el: '#app',
        });
    </script>
</body>
</html>